.Container {
  border-radius: 12px;
  box-shadow: 0 0 4px #000;
  -webkit-box-shadow: 0 0 4px #000;
  padding: 1px;
  background-color: #F7F4FC;
  color: darkslategrey;
  min-width: 280px;
}

.RowContent {
  margin-top: 6px;
  margin-bottom: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.RowContent .Name {
  font-size: 1.4em;
  margin-left: 32px;
}

.RowContent .Symbol {
  font-size: 1.4em;
  margin-right: 32px;
}

.Name {
  font-weight: bold;
}

.Symbol {
  font-style: italic;
}

.RowContent .Price {
  font-size: 1em;
  color: darkolivegreen;
}

.RowContent .Rank {
  font-size: 1em;
  color: darkmagenta;
  font-style: italic;
}

.Price {
  margin-left: 32px;
}

.Rank {
  margin-right: 32px;
}
