.SearchInputContainer {
  width: 95%;
  margin: auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 24px;
}

.SearchTextInput {
  border-radius: 4px;
  width: 70%;
  height: 100%;
  font-size: 0.9em;
}

.SearchButton {
  height: 100%;
  width: 20%;
  border-radius: 4px;
  font-size: 0.9em;
}
