.CurrencyCardContainer {
  border-radius: 12px;
  box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
  height: 72vh;
  margin-top: 24px;
  padding: 10px;
  background-color: #151A52;
}

.CurrencyInfoContainer {
  margin-top: 42px;
  margin-left: 12px;
  color: white;
}

.CurrencyInfoBodyContainer {
  width: 100%;
  margin-top: 50pt;
  display: flex;
  align-content: center;
  justify-content: space-around;
  font-size: 1.5em;
  font-weight: bold;
}

.CurrencyInfoBodyContainer .Info {
  color: lightgrey;
  font-style: italic;
}

.CurrencyInfoBodyContainer .Negative {
  color: lightcoral;
}

.CurrencyInfoBodyContainer .Positive {
  color: lightseagreen;
}

.CurrencyInfoName {
  font-weight: bold;
  font-size: 3em;
}

.CurrencyInfoSecondary {
  margin-left: 8px;
  font-weight: normal;
  font-style: italic;
}

.CurrencyInfoPrice .TransactionInfo {
  margin-top: 100pt;
}

.CurrencyInfoTransaction .TransactionInfo {
  margin-top: 100pt;
}

.CurrencyInfoTransaction {
  
}

.CurrencyEmptyState {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}
