.CurrencyCardContainer {
  border-radius: 12px;
  box-shadow: 2px 2px 2px 2px gray;
  height: 72vh;
  margin-top: 24px;
  padding: 10px;
}

.CurrencyInfoContainer {
  margin-top: 42px;
  margin-left: 12px;
}

.CurrencyInfoBodyContainer {
  width: 100%;
  margin-top: 42px;
  display: flex;
  align-content: center;
  justify-content: space-around;
  font-size: 2em;
}

.CurrencyInfoBodyContainer .Info {
  color: darkslategray;
  font-style: italic;
}

.CurrencyInfoName {
  font-weight: bold;
  font-size: 3em;
}

.CurrencyInfoSecondary {
  margin-left: 8px;
  font-weight: normal;
  font-style: italic;
}

.CurrencyInfoPrice .TransactionInfo {
  margin-top: 64px;
}

.CurrencyInfoTransaction .TransactionInfo {
  margin-top: 64px;
}

.CurrencyInfoTransaction {
  
}

.CurrencyEmptyState {
  
}
