.App {
  text-align: center;
  /* height: 100vh; */
}

.App-header {
  background-color: #5930AF;
  box-shadow: 0 0 4px #000;
  -webkit-box-shadow: 0 0 4px #000;
  height: 8vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.BiggestList {
  min-width: 350px;
  width: 25%;
  height: 100%;
  margin-top: 3px;
  box-shadow: 0 0 4px #000;
  -webkit-box-shadow: 0 0 4px #000;
}

.CurrencySearch {
  width: 95%;
  max-width: 850px;
  height: 100%;
  /* margin-left: 42px; */
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .BiggestList {
    width: 100%;
  }
}