.App {
  text-align: center;
  /* height: 100vh; */
}

.App-header {
  background-color: #5930AF;
  box-shadow: 0 0 4px #000;
  -webkit-box-shadow: 0 0 4px #000;
  height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.BiggestList {
  width: 26%;
  margin-top: 2px;
  box-shadow: 0 0 4px #000;
  -webkit-box-shadow: 0 0 4px #000;
}

.CurrencySearch {
  width: 60%;
  /* margin-left: 42px; */
  margin: auto;
}
